{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="light">

{% include  'include/head.html'%}


<body class="innerpage">
    <!-- Start Top Header Area -->

    {% include 'include/header.html'%}

    <section class="echo-hero-section inner inner-post">
        <div class="echo-hero">
            <div class="container">
                <div class="echo-full-hero-content">
                    <div class="row gx-5 sticky-coloum-wrap">
                        <div class="col-xl-8 col-lg-8">
                            <div class="echo-hero-baner">
                                <div class="echo-inner-img-ct-1  img-transition-scale">
                                    <a href="post-details.html"><img src="assets/images/category-style-1/item-1.png" alt="Echo" class="post-style-1-frist-hero-img"></a>
                                </div>
                                <img src="/media/{{news.image}}" alt="">
                                <h2 class="echo-hero-title text-capitalize font-weight-bold"><a href="post-details.html" class="title-hover">{{news.title}}</a></h2>
                                <div class="echo-hero-area-titlepost-post-like-comment-share">
                                    <div class="echo-hero-area-like-read-comment-share">
                                        <a href="#"><i class="fa-light fa-clock"></i> {{news.created | timesince}} age</a>
                                    </div>
                                    <div class="echo-hero-area-like-read-comment-share">
                                        <a href="#"><i class="fa-light fa-eye"></i> {{news.view}} Views</a>
                                    </div>
                                    <div class="echo-hero-area-like-read-comment-share">
                                        <a href="#"><i class="fa-light fa-comment-dots"></i> 05 Comment</a>
                                    </div>
                                    <div class="echo-hero-area-like-read-comment-share">
                                        <a href="#"><i class="fa-light fa-arrow-up-from-bracket"></i> 1.5k Share</a>
                                    </div>
                                </div>
                                <p class="echo-hero-discription">{{news.description}}
                                </p>
                            </div>
                            <div class="echo-reply-area">
                                <h5 class="title">Comment</h5>
                                <ul class="comment-inner">
                                    <li class="wrapper">
                                        <div class="image-area">
                                            <img src="assets/images/home-1/trending-left/commentator-1.png" alt="author">
                                        </div>
                                        <div class="content">
                                            <h5 class="title">Esther Howard</h5>
                                            <a href="#" class="pe-none">2 Jul 2023</a>
                                            <p class="desc">Efficiently simplify alternative customer service rather than efficient "outside the box" thinking. Dramatically deploy an expanded array of manufactured.</p>
                                        </div>
                                        <div class="reply"><i class="fa-regular fa-share"></i> Reply</div>
                                    </li>
                                    <li class="wrapper">
                                        <div class="image-area">
                                            <img src="assets/images/home-1/trending-left/commentator-2.png" alt="author">
                                        </div>
                                        <div class="content">
                                            <h5 class="title">Esther Howard</h5>
                                            <a href="#" class="pe-none">2 Jul 2023</a>
                                            <p class="desc">Efficiently simplify alternative customer service rather than efficient "outside the box" thinking. Dramatically deploy an expanded array of manufactured.</p>
                                        </div>
                                        <div class="reply"><i class="fa-regular fa-share"></i> Reply</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="echo-comment-box">
                                <div class="comment-box-inner">
                                    <h5 class="title">Leave A Comment</h5>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <input type="text" placeholder="Full Name" required>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="email" placeholder="Email Address" required>
                                            </div>
                                            <div class="col-lg-12">
                                                <textarea name="text" placeholder="Write Your Comment Here"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="submit-btn">Submit Now</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-lg-4 sticky-coloum-item">
                            <div class="echo-right-ct-1">
                                <div class="echo-popular-hl-img">
                                    <div class="echo-home-2-title">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="echo-home-2-main-title">
                                                    <h5 class="text-capitalize text-center">Popular Categories</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="echo-popular-item">
                                        <ul class="list-unstyled">

                                            {% for cat in categories%}
                                            <li>
                                                <h5>{{cat.name}}</h5>
                                            </li>

                                            {% endfor %}


            
                                        </ul>
                                    </div>
                                </div>
                                <div class="echo-home-1-hero-area-top-story">
                                    <h5 class="text-center">Top Story</h5>
                                    <div class="echo-top-story">
                                        <div class="echo-story-picture img-transition-scale">
                                            <a href="post-details.html"><img src="assets/images/category-style-1/item-9.png" alt="Echo" class="img-hover"></a>
                                        </div>
                                        <div class="echo-story-text">
                                            <h6><a href="#" class="title-hover">14 Tight Samurai Games You...</a></h6>
                                            <a href="#" class="pe-none"><i class="fa-light fa-clock"></i> 06 minute read</a>
                                        </div>
                                    </div>
                                    <div class="echo-top-story">
                                        <div class="echo-story-picture img-transition-scale">
                                            <a href="post-details.html"><img src="assets/images/category-style-1/item-6.png" alt="Echo" class="img-hover"></a>
                                        </div>
                                        <div class="echo-story-text">
                                            <h6><a href="#" class="title-hover">The Google Pixel Fold looks...</a></h6>
                                            <a href="#" class="pe-none"><i class="fa-light fa-clock"></i> 06 minute read</a>
                                        </div>
                                    </div>
                                    <div class="echo-top-story">
                                        <div class="echo-story-picture img-transition-scale">
                                            <a href="post-details.html"><img src="assets/images/category-style-1/item-7.png" alt="Echo" class="img-hover"></a>
                                        </div>
                                        <div class="echo-story-text">
                                            <h6><a href="#" class="title-hover">ChatGPT returns to Italy after ban</a></h6>
                                            <a href="#" class="pe-none"><i class="fa-light fa-clock"></i> 06 minute read</a>
                                        </div>
                                    </div>
                                    <div class="echo-top-story">
                                        <div class="echo-story-picture img-transition-scale">
                                            <a href="post-details.html"><img src="assets/images/category-style-1/item-8.png" alt="Echo" class="img-hover"></a>
                                        </div>
                                        <div class="echo-story-text">
                                            <h6><a href="#" class="title-hover">Avatar: The Way Of Water - how...</a></h6>
                                            <a href="#" class="pe-none"><i class="fa-light fa-clock"></i> 06 minute read</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="echo-feature-area-right-site-follower">
                                    <div class="echo-home-2-title">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="echo-home-2-main-title">
                                                    <h5 class="text-capitalize text-center">Follow Us</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li><a href="#"><i class="fa-brands fa-facebook"></i>20K Fans</a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i>10K Followers</a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i>50K Followers</a></li>
                                        <li><a href="#"><i class="fa-brands fa-linkedin"></i>30K Followers</a></li>
                                        <li><a href="#"><i class="fa-brands fa-pinterest"></i>30K Followers</a></li>
                                        <li><a href="#"><i class="fa-brands fa-youtube"></i>04K Subscriber</a></li>
                                    </ul>
                                </div>
                                <div class="echo-feature-area-right-site-newsletter">
                                    <div class="echo-feature-area-rigth-site-newsletter-title">
                                        <h4>Newsletter</h4>
                                    </div>
                                    <div class="echo-feature-area-right-site-newsletter-img">
                                        <img src="assets/images/home-1/feature-right/news-item-1.png" alt="Echo">
                                    </div>
                                    <div class="echo-feature-area-right-site-sub-title">
                                        <p>Stay Tuned With Updates</p>
                                    </div>
                                    <div class="echo-feature-area-right-site-news-subscribe">
                                        <form action="https://html.themewant.com/echo/POST">
                                            <div class="echo-feature-area-right-site-input-box">
                                                <input type="email" placeholder="Email Addresss.." required>
                                                <button type="submit"><i class="fa-regular fa-arrow-right"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="echo-ct-1-add">
                                    <div class="echo-ct-add-img">
                                        <a href="#"><img src="assets/images/category-style-1/item-10.png" alt="Echo"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include 'include/footer.html'%}
    <!-- Start Scricpt Area -->

    <!--scroll top button-->
    <button class="scroll-top-btn">
        <i class="fa-regular fa-angles-up"></i>
    </button>
    <!--scroll top button end-->

    {% include 'include/footer_js.html'%}

</body>


<!-- Mirrored from html.themewant.com/echo/post-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Sep 2024 17:40:51 GMT -->
</html>