{% load static %}


<script src="{% static 'assets/js/vendor/jquery.min.js' %}" defer></script>
    <script src="{% static 'assets/js/plugins/audio.js' %}" defer></script>
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}" defer></script>
    <script src="{% static 'assets/js/vendor/swiper.js' %}" defer></script>
    <script src="{% static 'assets/js/vendor/metisMenu.min.js' %}" defer></script>
    <script src="{% static 'assets/js/plugins/audio.js' %}" defer></script>
    <script src="{% static 'assets/js/plugins/magnific-popup.js' %}" defer></script>
    <script src="{% static 'assets/js/plugins/contact-form.js' %}" defer></script>
    <script src="{% static 'assets/js/plugins/resize-sensor.min.js' %}" defer></script>
    <script src="{% static 'assets/js/plugins/theia-sticky-sidebar.min.js' %}" defer></script>

    <!-- main js file -->
    <script src="{% static 'assets/js/main.js' %}" defer></script>
    <!-- End Footer Area -->
